################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/tiny-https-server.esproj
/test.js
/node_modules
/obj
*.tgz
/obj/Debug/tiny-https-server.esproj.FileListAbsolute.txt
/obj/Debug/tiny-https-server.esproj.CoreCompileInputs.cache
/obj/Debug/package.g.props
/.github/workflows/node.js.yml
