################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/tiny-https-server.esproj
/test.js
/node_modules
